/*
* @Author: root
* @Date:   2016-03-06 20:49:24
* @Last Modified by:   root
* @Last Modified time: 2016-03-07 15:30:56
*/

body {
	width: 960px;
	padding: 0;
	margin: auto;
	text-align: left;
	font-family: Georgia;
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	color: #444;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

ul {
	padding-left: 0;
	padding-right: 20px;
}

li {
    line-height: 24px;
    margin: 0;
	padding: 0;
    border-bottom: 1px solid #ccc;
    list-style: none;
}

#inner {
	background: #f5f5f5 none repeat scroll 0 0;
	border-color: #666;
    border-image: none;
    border-style: solid;
    border-width: 8px 0 2px;
    margin: 80px auto;
    padding: 10px 70px;
}

.nav-line {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	clear: both;
}

/* //-- header, body, footer -- */
#hd {	
	
}
#bd {	 }
#ft {
	text-align: center;
	clear: both;
}

/* //-- layout --*/
.doc {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.ui-author {
	float: left;
	width: 66%;
}

.ui-info {
	float: right;
	width: 32%;
}

.ui-left {
	float: left;
	width: 12.3%;
}

.ui-content {
	float: right;
	width: 80.2%;
	padding: 0;
}

.talent {
	padding-right: 20px;
    width: 32%;
    float: left;
}
